<div class="flex items-baseline px-2 rounded {{if @isCurrentPlayer "bg-teal-200 border-b-4 border-teal-500"}}">
  <div class="text-teal-700 md:text-lg">
    Player {{@playerNumber}}
  </div>

  <div class="ml-4 text-2xl font-semibold text-teal-900 md:text-4xl">{{@playerScore}}</div>
</div>